

body {
  background: url('../images/background.jpeg');
  font-size: 18px;
  line-height: 30px;
  font-family: 'Arial', 'Helvetica New', Helvetica, sans-serif;
  color: white;
  width: 100%;
  margin: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
}



footer {
  text-align: center;
}